<%#=link_to"新規登録",:controller =>'books',:action =>'new'#%>
<%= stylesheet_link_tag 'index', :media => "all" %>



<h1>一覧</h1>
<% if user_signed_in? %>
  <p><%= link_to "マイページへ", user_path(current_user.id) %></p>
<% end %>
<div><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></div>

<h2>タイトルを検索</h2>
 <%= form_tag({controller:"books",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <div><%= submit_tag do %></div>
    <i class="fa-solid fa-magnifying-glass"></i>   <% end %>
<% end %>

<div class="boo">
<%= form_tag({controller:"books",action:"index"}, method: :get) do %>
    <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
    <%#= submit_tag '検索' #%>
<% end %>
</div>

<%#= form_tag({controller:"books",action:"index"}, method: :get) do #%>
    <%#= text_field_tag :tag #%>
    <%#= submit_tag 'タグを追加' #%>
<%# end #%>

<%= link_to "新規投稿へ", new_book_path %>

<%#= page_entries_info @books #%>


<div class="books-container">
    <% @books.each do |t| %>
    <div class="books">
        <%= link_to t.user.name, user_path(t.user.id) %>
        <%= image_tag t.image_url, size: "250x200" if t.image? %>
        
        <tr>
        <td><%= t.title %></td>
        <td><%= t.author %></td>
        <td><%= t.price %></td>
        <td><%= t.body %></td>
        </tr>
        
        <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= button_to book_like_path(id: t.id, book_id: t.id), method: :delete do %>
                <i class="fa-sharp fa-solid fa-heart fa-3x" style="color:red;"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= button_to book_likes_path(id: t.id, book_id: t.id), method: :post do %>
                <i class="fa-regular fa-heart fa-3x"></i><%= t.likes.count %>
            <% end %>
        <% end %>
        <% else %>
        <i class="fa-sharp fa-solid fa-heart"></i><%= t.likes.count %>
        <% end %>
       
        <div class="books">
            <div class="main-box">
                <div class="left-container"><%#= t.body #%></div>
                <div class="right-container">
                <div class="link">
            <%= link_to "詳細へ", book_path(t.id) , class: "nav-link"%>
            <% if user_signed_in? && current_user.id == t.user_id %>
                <%= link_to "編集する", edit_book_path(t.id), class: "nav-link" %>
                <%= button_to "削除する", book_path(t.id), method: :delete %>
                </div>
            <% end %> 
            </div>
            </div>
        </div>
    </div>
    <% end %>


    

</div>

<%= paginate @books %>